.tweet-container article {
  position: relative;
  margin: auto;
  border-style: groove;
  border-radius: 6px;
  border-color: #eee;
  margin-top: 25px;
  background-color: #eee;
  width: 85%;
}

 article:first-of-type{
  margin-top: 120px; 
}

.tweet-container article:hover {
  border-color: rgb(103, 104, 100);
  opacity: 1;
}

.tweet-container article:hover header {
  border-color: rgb(103, 104, 100);
  opacity: 1;
}

.tweet-container article:hover footer .fa-thumbs-up {
  opacity: 1;
}

.tweet-container article:hover footer .fa-flag-usa {
  opacity: 1;
}

.tweet-container article:hover footer .fa-retweet {
  opacity: 1;
}

.tweet-container header {
  opacity: 0.7;
  position: relative;
  height: 70px;
}

.clearfix::after {
  content: "";
  clear: both;
  display: table;
}

.tweet-container header .avatar {
  float: left;
  height: 70px;
  width: 20%;
  padding-left: 5px;
  padding-top: 5px;
  padding-bottom: 5px;
  border-radius: 50%;
}

.tweet-container header .username {
  text-align: center;
  font-size: 19px;
  float: left;
  width: 120px;
  font-weight: 700;
  padding-left: 5px;
  padding-right: 30px;
}

.tweet-container header .email {
  float: right;
  color: green;
  font-size: 15px;
  vertical-align: text-top;
  padding-top: 15px;
  padding-right: 10px;
}

.tweet-container .box {
  background-color: white;
  height: 110px;
  font-size: 25px;
}

.tweet-container .tweetText {
  color: blue;
  font-size: 16px;
  padding-top: 30px;
  padding-left: 10px;
  word-break: break-word;
}

.tweet-container footer {
  position: relative;
  border-top-style: groove;
  border-top-color: #eee;
  border-top-width: thin;
  bottom: 10px;
  background-color: white;
  height: 43px;
  top: 0.4px;
}

.tweet-container footer .time {
  color: orange;
  vertical-align: -webkit-baseline-middle;
  padding-left: 5px;
  width: 41%;
}

.tweet-container footer .fa-thumbs-up {
 opacity: 0;
 float: right;
 color: #00a087;
 padding-top: 13px;
 padding-right: 10px;
 padding-left: 10px;
 
}

.tweet-container footer .fa-flag-usa {
  opacity: 0;
  float: right;
  padding-top: 14px;
  padding-left: 10px;
  padding-right: 5px;
  color: #00a087;
 }

 .tweet-container footer .fa-retweet {
  opacity: 0;
  float: right;
  padding-left: 10px;
  padding-top: 13px;
  color: #00a087;
  padding-right: 5px;
 }







